body{
    background-color: darkblue;
    
    margin: 0;

}
.heading{
    text-align: center;
    color: white;

}
h1{font-family: 'Pushster', cursive;
    color: rgb(41, 189, 194);
}
h2{font-family: 'The Nautigal', cursive;
color: rgb(219, 151, 23);
font-size: 30px;
}
.alignment{
    padding-left: 70px;
}

p{font-family: 'Vujahday Script', cursive;
color: rgb(236, 222, 29);

}
ul{font-family: 'Vujahday Script', cursive;
color: rgb(236, 222, 29);

}
.color{color: rgb(33, 177, 129);}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin: 10px;
}
.half-width img{
    width: 80%;
}
.link-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(rgb(224, 122, 49), rgb(182, 182, 10));
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/exp-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.experience-item{
    width: 40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 20px gray;
    
}
#highlights{
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient( rgb(104, 2, 151), rgb(194, 197, 10));
    border-image-slice: 1;
}
#hints{
    border-left: 7px solid;
    border-radius: 5px;
    border-image: linear-gradient(blue,  rgb(194, 197, 10));
    border-image-slice: 1;
}
h3{font-family: 'The Nautigal', cursive;
    color: rgb(219, 151, 23);
    font-size: 25px;
}

footer p{
    text-align: center;
}